* {
    box-sizing: border-box;
}
.row {
    width: 100%;
}
.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background: #4ffdbd;
    color: white;
}

h1{
    font-family: 'Oswald';
}

h2, h3, h4, h5 {
    font-family: 'Ubuntu';
}

p {
    font-family: 'Roboto';
}

.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black ;
    color: black;
    
}

.nav{
    background-color: white;
    border-bottom: 1px solid black ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav ul{
    margin:0 auto;
    display: flex;
    font-size: larger;
    list-style-type: none;
    font-family:'Menlo';
    font-weight: bold;
}

.nav a{
    text-decoration: none;
    color: white;
}
.nav li a img{
    margin: 0 auto;
    padding: 0;
    background-color: white;
}


.nav a{
    background-color: #ffae00;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    ;
}

.nav a:hover { 
    text-decoration: underline;
    border: 2px dotted #ffae00;
    background-color: #196dff;
}


.header{
    display: flex;
    border-bottom: 1px solid black ;
    justify-content: center;
    
}

/* ---------------- EVERYTHING BELOW THIS LINE IS HOMEPAGE CSS ---------------- */

.home{
    padding: 5px;
    margin-left: 1em;
    margin-right: 1em;
}

/* ---------------- EVERYTHING BELOW THIS LINE IS CONTACT CSS ---------------- */



/* ---------------- EVERYTHING BELOW THIS LINE IS WORK EXPERIENCE CSS ----------------*/

.work {
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.work main{
    display:flex;
    justify-content: flex-start;
}

.work ul{
    
}

.work aside{
    display: flex;
    justify-content: flex-end;
}