/* © 2021, Elijah C. Monzon Alvarenga. */

* {
    box-sizing: border-box;
}
.row {
    width: 100%;
}
.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background: #4ffdbd;
    color: black;
    font-family: Menlo;
}

h1{
    font-family: 'Oswald';
}

h2, h3, h4, h5 {
    font-family: 'Ubuntu';
}

p {
    font-family: 'Roboto';
}

.container{
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black ;
    color: black;
    
}
.nav{
    display: flex;
    background-color: white;
    padding: 0;
    justify-content: center;
    margin: 0 auto;
}

.nav .logo{
    width: 10%;
    padding: 0;
    
}
.nav img{
    max-width: fit-content;
    padding-left: 5%;
}

.nav .bar{
    width:90%;
    margin:0 auto;
    margin-top: 2%;
    padding-left: 1em;
    padding-right: 1em;
}

.nav .bar a{
    background-color: #ffae00;
    border: 1px solid black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    
    padding-bottom: 1em;
    text-decoration: none;
    color: black;
    text-align: center;
    
}

.nav .bar a:hover { 
    text-decoration: underline;
    border: 2px dotted #ffae00;
    background-color: #196dff;
    color:white;
}


.header{
    display: flex;
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    justify-content: center;
    
}

footer{
    background-color: black;
    color: white;
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer ul{
    list-style-type: none;
    padding: 0;
    padding-bottom: 1em;
}

footer li{
    padding-bottom: .5em;
}

footer a{
    text-decoration: none;
    color: #ffae00;
}

footer span{
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1em;
}

/* ---------------- EVERYTHING BELOW THIS LINE IS HOMEPAGE CSS ---------------- */

.home{
    padding: 5px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: large;
}

.home .textndpic{
    display: flex;
    
}

.home .textndpic img{
    width: 50%;
}
.home .textndpic p{
    padding: 2em;
    padding-top: 0;
    width: 50%;
    
}

/* ---------------- EVERYTHING BELOW THIS LINE IS CONTACT CSS ---------------- */

.contact{
    margin: 2em;
    display: flex;
    flex-direction: row;
}

.socialmedia{
    border: black solid 1px;
    width: 25%;
    justify-content: flex-start;
    
}

.socialmedia h2{
    padding: 2em;
    padding-top: 0;
}

.socialmedia ul{
    list-style-type: none;
}

.socialmedia a{
    text-decoration: none;
    color: black;
}

.socialmedia img{
    margin-right: .5em;
}

.socialmedia a span{
    margin-bottom: 2em;
}

.socialmedia a:hover{
    color: #fe0000;
    text-decoration: underline;
}

.socialmedia li{
    padding: .5em;
}

.contactform{
    border: black solid 1px;
    margin-left: 2em;
    padding: 1em;
    width: 75%;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.contactform h2{
    text-align: center;
}

.contactform input{
    display: flex;
    justify-content: flex-end;
    width: 30em;
    height: 3em;
    font-size: medium;
}

.contactform input:last-child{ /* submit button*/
    font-size: large;
    text-align: center;
    justify-content: center;
    width: 30em;
    height: 10em;
}

.contactform textarea{
    width: 30em;
    height: 10em;
    font-size: large;
}


/* ---------------- EVERYTHING BELOW THIS LINE IS WORK EXPERIENCE CSS ----------------*/

.work {
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.work .subheader{
    padding: 0;
    display: flex;
}

.work .content{
    padding: 0;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    width:75%;
}

.work .information{
    padding: 0;
    display: flex;
    padding-bottom: 5%;
}

.work aside{
    padding: 0;
    padding-left: 5em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width:25%;
}

.work img{
    width:fit-content;
    align-items: flex-end;
}

.work ul{
    display: flex;
    flex-direction: column;
}
