* {
    box-sizing: border-box;
}
.row {
    width: 100%;
}
.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background: #4ffdbd;
    color: white;
}

.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black ;
    color: black;
    
}

.nav{
    background-color: white;
    border-bottom: 1px solid black ;
}

.header{
    display: flex;
    border-bottom: 1px solid black ;
    justify-content: center;
    
}

/* ---------------- EVERYTHING BELOW THIS LINE IS HOMEPAGE CSS ---------------- */

.home content{
    color: blue;
}

/* ---------------- EVERYTHING BELOW THIS LINE IS CONTACT CSS ---------------- */


/* ---------------- EVERYTHING BELOW THIS LINE IS WORK EXPERIENCE CSS ----------------*/